body {
    font-family: "Poppins", sans-serif;
}

ul, li {
    list-style-type: none;
}

.kpis {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 40px;
}

.menu_lateral {
    position: relative;
    display: inline-block;
    left: 0;
    right: auto;
    height: 100vh;
}

.content {
    grid-area: content;
    padding: 2rem;
    /*display: inline-block;*/
    /*vertical-align: top;*/
    background-color: #f8f8f8;
    height: max-content;
}